.header-container {
    padding: 40px 0;
    background-position: center;
    text-align: center;
}

.main-title {
    font-family: 'star-wars-hol';
    color: #f9d71c;
    font-size: 5rem;
    margin: 0;
}